.ce-block--selected .ce-block__content,
.ce-inline-toolbar,
.codex-editor--narrow .ce-toolbox,
.ce-conversion-toolbar,
.ce-settings,
.ce-settings__button,
.ce-toolbar__settings-btn,
.cdx-button,
.ce-popover,
.ce-toolbar,
.ce-toolbar__plus:hover {
  @apply border-none bg-gray-100 text-gray-900;
}

.ce-block--selected .ce-block__content:is(.dark *),
.ce-inline-toolbar:is(.dark *),
.codex-editor--narrow .ce-toolbox:is(.dark *),
.ce-conversion-toolbar:is(.dark *),
.ce-settings:is(.dark *),
.ce-settings__button:is(.dark *),
.ce-toolbar__settings-btn:is(.dark *),
.cdx-button:is(.dark *),
.ce-popover:is(.dark *),
.ce-toolbar:is(.dark *),
.ce-toolbar__plus:hover:is(.dark *) {
  @apply border-none bg-gray-600 text-white;
}

.ce-popover *:is(.dark *) {
  @apply text-white;
}
.cdx-search-field {
  background-color: rgb(243, 244, 246);
  color: inherit;
}
.cdx-search-field:is(.dark *) {
  background-color: rgb(55, 65, 81);
  color: inherit;
}

.ce-inline-tool,
.ce-conversion-toolbar__label,
.ce-toolbox__button,
.cdx-settings-button,
.ce-toolbar__plus {
  color: inherit;
}

::selection {
  background-color: rgb(243 244 246);
  color: black;
}
::selection:is(.dark *) {
  background-color: rgb(55 65 81);
  color: white;
}

.cdx-settings-button:hover,
.ce-settings__button:hover,
.ce-toolbox__button--active,
.ce-toolbox__button:hover,
.cdx-button:hover,
.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-popover__item:hover,
.ce-toolbar__settings-btn:hover {
  background-color: rgb(243 244 246);
  color: black;
}

.cdx-settings-button:hover:is(.dark *),
.ce-settings__button:hover:is(.dark *),
.ce-toolbox__button--active:is(.dark *),
.ce-toolbox__button:hover:is(.dark *),
.cdx-button:hover:is(.dark *),
.ce-inline-toolbar__dropdown:hover:is(.dark *),
.ce-inline-tool:hover:is(.dark *),
.ce-popover__item:hover:is(.dark *),
.ce-toolbar__settings-btn:hover:is(.dark *) {
  background-color: rgb(55 65 81);
  color: white;
}

.ce-popover-item--confirmation,
.cdx-notify--error {
  background-color: rgb(240 82 82) !important;
}
.ce-popover-item--confirmation:hover:is(.dark *),
.cdx-notify--error:hover:is(.dark *) {
  @apply !bg-red-600;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
  background-color: white;
}

.ce-block *:is(.dark *) {
  color: white;
}

.cdx-search-field__input {
  @apply !border-none !outline-none !ring-0;
}

.ce-popover-item:is(.dark *) {
  @apply !text-white;
}

.ce-popover-item__icon:is(.dark *),
.ce-conversion-tool__icon:is(.dark *),
.ce-popover-item:hover:is(.dark *) {
  @apply bg-gray-800;
}

.ce-inline-tool-input {
  @apply bg-inherit !outline-none !ring-0;
}

.ce-toolbar {
  @apply ml-8;
}
.codex-editor__redactor {
  @apply !pb-24;
}
.codex-editor__redactor.show {
  @apply !pb-2;
}

.ce-block__content {
  @apply !max-w-full px-4 sm:!ml-16;
}
.ce-toolbar__content {
  @apply !max-w-full sm:!ml-8;
}
.ce-toolbar__plus {
  @apply bg-inherit;
}

.cdx-settings-button svg *:is(.dark *) {
  @apply !text-white;
}
.ce-inline-toolbar svg *:is(.dark *) {
  @apply text-white;
}

svg.icon--link {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.5em' height='0.5em' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7.5 17.5q-2.3 0-3.9-1.6T2 12q0-2.3 1.6-3.9t3.9-1.6H18q1.65 0 2.825 1.175T22 10.5q0 1.65-1.175 2.825T18 14.5H8.5q-1.05 0-1.775-.725T6 12q0-1.05.725-1.775T8.5 9.5H18V11H8.5q-.425 0-.713.288T7.5 12q0 .425.288.713T8.5 13H18q1.05 0 1.775-.725T20.5 10.5q0-1.05-.725-1.775T18 8H7.5Q5.85 8 4.675 9.175T3.5 12q0 1.65 1.175 2.825T7.5 16H18v1.5H7.5Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:
    bottom center,
    50%,
    50%;
}
svg.icon--unlink {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.5em' height='0.5em' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7.5 17.5q-2.3 0-3.9-1.6T2 12q0-2.3 1.6-3.9t3.9-1.6H18q1.65 0 2.825 1.175T22 10.5q0 1.65-1.175 2.825T18 14.5H8.5q-1.05 0-1.775-.725T6 12q0-1.05.725-1.775T8.5 9.5H18V11H8.5q-.425 0-.713.288T7.5 12q0 .425.288.713T8.5 13H18q1.05 0 1.775-.725T20.5 10.5q0-1.05-.725-1.775T18 8H7.5Q5.85 8 4.675 9.175T3.5 12q0 1.65 1.175 2.825T7.5 16H18v1.5H7.5Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:
    bottom center,
    50%,
    50%;
}

.toggle-block__selector {
  @apply flex items-center;
}
.toggle-block__input {
  @apply !py-0;
}
.cdx-alert {
  @apply shadow-md;
}
.cdx-alert:is(.dark *) {
  @apply shadow-gray-900;
}

.cdx-alert-primary:is(.dark *) {
  @apply border-blue-400 bg-inherit;
}
.cdx-alert-primary .cdx-alert__message *:is(.dark *),
.cdx-alert-primary .cdx-alert__message:is(.dark *) {
  @apply text-blue-400;
}

.cdx-alert-secondary:is(.dark *) {
  @apply border-none bg-gray-700;
}
.cdx-alert-secondary .cdx-alert__message *:is(.dark *),
.cdx-alert-secondary .cdx-alert__message:is(.dark *) {
  @apply text-gray-200;
}

.cdx-alert-info:is(.dark *) {
  @apply border-teal-400 bg-inherit;
}
.cdx-alert-info .cdx-alert__message *:is(.dark *),
.cdx-alert-info .cdx-alert__message:is(.dark *) {
  @apply text-teal-400;
}

.cdx-alert-success:is(.dark *) {
  @apply border-green-400 bg-inherit;
}
.cdx-alert-success .cdx-alert__message *:is(.dark *),
.cdx-alert-success .cdx-alert__message:is(.dark *) {
  @apply text-green-400;
}

.cdx-alert-warning:is(.dark *) {
  @apply border-yellow-400 bg-inherit;
}
.cdx-alert-warning .cdx-alert__message *:is(.dark *),
.cdx-alert-warning .cdx-alert__message:is(.dark *) {
  @apply text-yellow-400;
}

.cdx-alert-danger:is(.dark *) {
  @apply border-red-400 bg-inherit;
}
.cdx-alert-danger .cdx-alert__message *:is(.dark *),
.cdx-alert-danger .cdx-alert__message:is(.dark *) {
  @apply text-red-400;
}
.cdx-alert-light:is(.dark *) {
  @apply bg-gray-100;
}
.cdx-alert-light .cdx-alert__message *:is(.dark *),
.cdx-alert-light .cdx-alert__message:is(.dark *) {
  @apply text-black;
}
.tc-row--selected::after:is(.dark *),
.tc-row--selected div:is(.dark *),
.tc-cell--selected:is(.dark *) {
  @apply !bg-gray-600;
}
.tc-popover:is(.dark *) {
  @apply border-gray-600 !bg-gray-600 shadow-md;
}
.tc-popover__item-icon:is(.dark *) {
  @apply bg-inherit;
}
.tc-popover__item:hover:is(.dark *) {
  @apply bg-gray-700;
}

.tc-add-row:hover::before:is(.dark *),
.tc-add-row:hover:is(.dark *),
.tc-add-column:hover:is(.dark *) {
  @apply bg-gray-600;
}
